body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin-top: 1rem;
  width: 250px;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  box-shadow: 0px 10px 15px 0px #070707 ;
  border-radius: 25px;
  background-color: #1f2022;
}


form {
  margin-top:1rem;
  margin-bottom: 20px;
}

input[type="text"] {
 background-color:transparent;
 color:#eeecec;
 margin-top: 0%;
  width: 90%;
  height:17vh;
  padding: 10px;
  font-size: 30px;
  border: 1px #5c5757;
  border-radius: 5px;
}

.keypad {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
button {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: none;
  color: #09f5cd;
  background-color: #414645;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease; 
}

button:hover {
  background-color: #78807e;
  color: #00ffd5;
}

button:active {
  background-color: #a39e9e;
  transform: scale(0.85);
}


button:nth-child(16),
button:nth-child(17) {
  grid-column: span 2;
}

button:nth-child(16) {
  background-color: #3e4443;
  color:#09f5cd;
}
button:nth-child(16):hover{
 background-color:#5c5757;
}

button:nth-child(17) {
  background-color:#5cc9b6; 
  color: #242323;
  font-size: 25px;
}

@media screen and (max-width<= 768px) {
  .container {
    width:250px;
    height: auto;
  }
}

@media screen and (max-width: 428px), screen and (max-width: 320px) {
  .container {
    width: 250px;
    height: auto;
  }
}


 

